#mainPage {
  height: 100vh;
}

#HomeTop {
  height: 10%;
}

#HomeMain {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 90%;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  #HomeMain {
    height: 75%;
  }
}

#HomeMain section {
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  overflow: hidden;
  align-items: center;
}
